{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
<section class="page-section bg-primary" id="about">
<div class="container px-4 px-lg-5">
   <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
         <h2 class="text-white mt-0">{{ self.title }}</h2>
         <hr class="divider divider-light" />
         <p class="text-white-75 mb-4">{{ self.subtitle }}</p>
         <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               {% for image in self.images %}
               {% image image.image fill-635x350 as img %} 
               <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ img.url }}" class="d-block w-100">
                  {% if image.caption %}
                  <div class="carousel-caption">
                     <p>{{ image.caption }}</p>
                  </div>
                  {% endif %}
               </div>
               {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>                            
         </div>
         <a href="{% slugurl 'gallery' %}"><button type="button" class="btn btn-outline-light" >Check our Gallery</button></a>
      </div>
   </div>
</div>
</section>
